.EmailNav {
    padding: 15px 15px 15px 0;
    border-radius: 20px;
    border-left: 1px solid #c7c7c7;
    width: 16%;
    display: flex;
    flex-direction: column;
}

.EmailNav .titleAndBackBtn {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--hr);
    padding-bottom: 16px;
    padding-left: 8%;
}

.EmailNav .titleAndBackBtn h2 {
    font-size: 20px;
    padding: 8px 12px;
}

.EmailNav .titleAndBackBtn a {
    border-radius: 10px;
    font-size: 14px;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #949494;
    background-color: #e2e1e1;
}

.EmailNav .navEamilTypeAndAddMsgBtn {
    padding: 26px 0% 26px 10%;
    display: flex;
    flex-direction: column;
}

.EmailNav .navEmaileType {
    padding: 28px 5px 5px 0px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.EmailNav .lableContainer {
    width: 100%;
    background-color: inherit;
    display: flex;
    padding: 40% 0 0 0;
    height: 56%;
    flex-direction: column;

}

.EmailNav .lableContainer h4 {
    color: #949494;
    font-weight: 600;
    font-size: 14px;
    user-select: none;
}

.EmailNav .lableContainer .headerLabel {
    display: flex;
    justify-content: space-between;
}

.EmailNav .lableContainer .headerLabel .addLabel {
    width: 22px;
    height: 22px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0f4f1;
    color: var(--green);
    border-radius: 4px;
    box-shadow: 0 0 1px 0 #3333;
}

.EmailNav .lableContainer .moreButton {
    color: #949494;
    box-shadow: none;
    background-color: inherit;
}

.EmailNav .lableContainer .buttonContainer {
    display: flex;
    gap: 5%;
}

.EmailNav .lableContainer .lableScrollContainer {
    display: flex;
    flex-direction: column;
    padding: 10% 0;
    gap: 15%;
    overflow-y: auto;
   overflow-x: hidden;
    height: 200px;
    padding: 5% 0;
}

.EmailNav .lableContainer .lableSizeHolder {
    position: relative;
    width: 46px;
    height: 30px;
    display: flex;
    align-items: center;
}