.EmailLi {
    width: 100%;
    height: 60px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    padding: 8px 0;
    background-color: inherit;
    user-select: none;
    justify-content: space-around;
    transition: .3s;
}

.EmailLi.activeLink, .EmailLi.activeLink:hover{
    cursor: pointer;
    background-color: #ffffff;
    box-shadow:0 0 6px -3px #333333;
}

.EmailLi:hover {
    cursor: pointer;
    background-color: #ffffff;
    box-shadow: 0 0 1px -1px #333333;
}
.EmailLi .usersImageContainer{
    position: relative;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.EmailLi .usersImageContainer :nth-child(1){
    z-index: 3;
    width: 34px;
    height: 34px;
    right: 0px;
}
.EmailLi .usersImageContainer :nth-child(2){
    right: -4px;
    width: 32px;
    height: 32px;
    opacity: .8;
    z-index: 2;

}
.EmailLi .usersImageContainer :nth-child(3){
    right: -8px;
    width: 30px;
    height: 30px;
    opacity: .6;
    z-index: 1;
}
.EmailLi img {
    background-color: #65c9ff;
    border: 1px solid #ffffff;
    position: absolute;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    object-fit: cover;
}

.EmailLi .info {

    width: 60%;
    height: 90%;
    padding: 0 4px;
    overflow: hidden;
}

.EmailLi h4 {
    display: flex;
    padding: 2px;
    color: #333333;
    font-size: 14px;
}

.EmailLi .info .textMessageInfo {
    font-size: 12px;
    padding: 2px;
    color: #8191A9;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.EmailLi .timeAndBadeg {
    width: 50px;
    height: 80%;
    padding: 0 5px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.EmailLi .time {
    font-size: 12px;
    color: #717D9D;
}

.EmailLi .star {
    font-size: 10px;
    width: 25px;
    height: 25px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    color: #a3a3a3;
}
