.SendBtn{
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--green);
    color: #ffffff;
    font-size: 14px;
    border-radius: 12px;
}
.SendBtn :nth-child(1){
    font-size: 20px;
}
.SendBtn:active{
    animation: shaining 1s linear 1;
}
@keyframes shaining {
    0% , 50%{
        opacity: .5;
    }
    100% , 75% , 25%{
        opacity: 1;
    }
}