.NewMsgPage{
    width: 80%;
    padding: 10px;
    background-color: #efefef;
    border-radius: 10px;
}
.NewMsgPage .headerContaier{
    border-bottom: 1px solid var(--hr);
    padding: 16px;
}
.NewMsgPage .containerSendProps{
    width: 80%;
    height: 80%;
    gap: 4%;
    padding: 4%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}
.NewMsgPage .labels{
    width: 70%;
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 5%;
}
.NewMsgPage .labels span{
    padding: 0 10px;
    font-weight: 600;
    font-size: 14px;
    width: 12%;
}
.NewMsgPage .labels input{
    padding: 6px 2px;
    width: 70%;
    border: 1px solid var(--hr);
    border-radius: 6px;
}
.NewMsgPage .labels input:focus{
    outline: 2px solid var(--green);
}
.NewMsgPage .labels input:focus{
    outline: 2px solid var(--green);
}
