.NewMsgBtn{
    width: 90%;
    height: 40px;
    background-color: #00A389;
    border-radius: 12px;
    color: #ffffff;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 5%;   
    padding: 0 5px;
}
.NewMsgBtn .mailIcon{
    font-size: 22px;
}
.NewMsgBtn span{
    font-size: 14px;
}
.NewMsgBtn:active{
    box-shadow: 0 0 3px 0 #333333;
}